Django==6.0.4
boto3
celery==5.6.3
django-cors-headers==4.9.0
django-storages
dj-database-url
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
drf-spectacular
psycopg==3.3.4
psycopg-binary==3.3.4
Pillow==11.3.0
python-dotenv==1.2.2
redis==7.4.0
tzdata==2026.2
uvicorn==0.46.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
channels
channels-redis
whitenoise
firebase-admin>=6.6.0
